@use '../../../_custom' as custom

.h-90
    height: calc( custom.$page-height - 13rem )

[contenteditable]:empty::before
  content: "Send message"
  color: gray
  pointer-events: none
  display: block
