<div class="page" [ngClass]="{'reduced': sidebarVisible}">
    <p-card class="w-full">
        <div class="flex flex-column">
            <div class="flex flex-grow justify-content-start align-items-center w-full h-3rem hr-line">
                <span class="ml-5 text-xl">
                    Agent Y
                </span>
            </div>
            <div class="h-90 flex flex-grow w-full bg-transparent hr-line">
                
            </div>
            <div class="flex flex-column h-10rem justify-content-center align-items-center">
                <div class="flex flex-row justify-content-center align-items-center gap-2">
                    <p-fileupload mode="basic" 
                    name="demo[]" 
                    chooseIcon="pi pi-upload" 
                    url="https://www.primefaces.org/cdn/api/upload.php" 
                    accept="image/*" maxFileSize="1000000" 
                    chooseLabel=""
                    (onUpload)="onBasicUploadAuto($event)" [auto]="true" />

                    <div class="card w-30rem editor-container">
                        <div 
                        contenteditable="true"
                        class="flex w-full h-2.5rem max-h-4rem border-1 border-primary border-round-sm text-lg p-2 outline-none focus:border-2 font-light align-items-center overflow-y-auto white-space-pre-wrap"
                        style="word-wrap: break-word; overflow-wrap: break-word;">
                        </div>
                    </div>
                    <div>
                        <button pRipple pButton [outlined]="true" icon="pi pi-send" type="button" class="w-2rem border-round-sm"></button>
                    </div>
                </div>
            </div>
        </div>
    </p-card>
</div>
