<div class="page" [ngClass]="{'reduced': sidebarVisible}">
    <p-card class="w-full">
        <div class="flex flex-column">
            <div class="flex flex-grow justify-content-start align-items-center w-full h-3rem hr-line">
                <span class="ml-5 text-xl">
                    Agent Y
                </span>
            </div>
            <div class="h-90 flex flex-grow w-full bg-transparent hr-line">
                
            </div>
            <div class="flex flex-column h-10rem justify-content-center align-items-center">
                <div class="flex flex-row justify-content-center align-items-center gap-2">
                    <div class="card w-30rem editor-container">
                        <div placeholder="Send message" class="border-1 border-primary h-2.5rem overflow-x-auto border-round-xl text-l p-2 outline-none focus:border-2 font-light vertical-align-middle"  contenteditable="true" >
                            
                        </div>
                    </div>
                    <div>
                        <button pRipple pButton [outlined]="true" icon="pi pi-send" type="button" class="w-2rem border-round-sm"></button>
                    </div>
                </div>
            </div>
        </div>
    </p-card>
</div>
