<div class="page" [ngClass]="{'reduced': sidebarVisible}">
    <p-card class="w-full">
        <div class="flex flex-column">
            <div class="flex flex-grow justify-content-start align-items-center w-full h-3rem hr-line">
                <span class="ml-5 text-xl">
                    Agent Y
                </span>
            </div>
            <div class="h-90 flex flex-grow w-full bg-transparent hr-line">
                
            </div>
            <div class="flex flex-column h-10rem justify-content-center align-items-center">
                <div class="flex flex-row justify-content-center align-items-center gap-2">
                    <div class="card w-30rem editor-container">
                        <p-editor placeholder="Send a message" [(ngModel)]="userMessage" [modules]="quillModules" [style]="{ height: '5rem' }">
                            <ng-template #header>
                            </ng-template>
                        </p-editor>
                    </div>
                    <div>
                        <button pRipple pButton [outlined]="true" icon="pi pi-send" type="button" class="w-2rem"></button>
                    </div>
                </div>
            </div>
        </div>
    </p-card>
</div>
