<p-drawer #drawerRef [closable]="true" (onHide)="toggleSidebar($event, false)" [(visible)]="visible" [modal]="false" styleClass="drawer">
    <ng-template #header>
        <div class="p-4">
            <div class="p-2 flex flex-row gap-5 align-items-center">
                <span class="text-xl text-primary">Y</span>
            </div>
        </div>
    </ng-template>
    <ng-template #content>
        @for(chat of chats; track $index){
            <div pRipple class="surface-border hover:bg-primary-100 cursor-pointer border-surface-50  p-3 border-round-xl">
                <div class="flex flex-row gap-5 align-items-center ">
                    <span class="text-surface-100 text-sm">{{chat.title.slice(0,30)}}...</span>
                </div>
            </div>
        }
    </ng-template>
    <ng-template #closeicon>
        <i class="pi pi-list "></i>
    </ng-template>
</p-drawer>
@if (!visible) {
    <button pButton type="button" icon="pi pi-chevron-right" outlined="false" text="true"
        class="fixed text-primary left-0 top-50 translate-y-n50 z-5 w-1rem h-3rem bg-transparent text-black shadow-5" (click)="toggleSidebar(drawerRef, true)"
        aria-label="Toggle Sidebar"></button>
}